/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('/assets/fonts/bubbleboddyneue-regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Comfortaa';
    src: url('/assets/fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Utilisez les polices dans votre application */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubbleboddy Neue', sans-serif;
  }
  
  p, body {
    font-family: 'Comfortaa', sans-serif;
  }
  